# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/BreakoutSample/.vs/BreakoutSample/v14/.suo
/BreakoutSample/BreakoutSample.UwpPlugin/obj/Debug
/BreakoutSample/Library
/BreakoutSample/Temp
/BreakoutSample.UwpEditor/obj/Debug
/BreakoutSample.UwpPlugin/obj/Debug
/UWP/.vs/BreakoutSample/v14/.suo
/UWP/BreakoutSample/bin/x86/Debug
/UWP/BreakoutSample/obj
/UWP/Players/UAP
/BreakoutSample/.vs/BreakoutSample/v15/.suo
/BreakoutSample/.vs/BreakoutSample/v15
